

/* "East Bay: #424874Moon Raker: #DCD6F7Ghost: #CACFD6" */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Advent Pro', sans-serif;
  background-color: #F9F6EE;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  
  
  color:black;
  
}
.row div{
  width:50%;
  min-height:30vh;
}
.content p{
  font-size:25px;
}
.row{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding:5px;
}
.nav{
  padding:15px;
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: #424874;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  
}
.about-button{
  padding:5px;
  border:1px solid #424874;
  border-radius:5px;
}
.about-button:hover{
  cursor:pointer;
}
.nav-items ul{
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly
}
.logo{
  color:white;
  letter-spacing:2px;
}
.nav-items ul li{
  padding:10px;
  margin:0 10px 0 10px;
  font-size:16px;
  color:white;
}
.nav-items ul li:hover{
  text-decoration:underline;
  cursor:pointer;
}
.web{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin-top:50px;
}
.payment-info{
  display:flex;
  flex-direction:column;
  margin-top:70px;
  /* padding:20px; */
  height:100vh;
  font-family: 'Poppins', sans-serif;
  /* letter-spacing:1px; */
}
.sector-info h2,.sector-info h3,.sector-info h4{
  color:#424874;
  /* text-decoration:underline;
  text-decoration-color:#424874; */
  padding:5px;
  font-weight:bold;
  font-family:'Advent Pro', sans-serif;
  border-bottom:1px solid #DCD6F7;
  letter-spacing:1px;
}
.sector-info{
  padding:20px;
  margin:10px;
  border:1px solid gray;
  border-radius:5px;
  background-color:seashell;
}
.sector-info p{
  font-size:18px;
  margin:10px 5px 10px 5px;
}
.content{
  border-left:1px solid #FF2400;
    padding:0 20px 0 20px;
  font-size:35px;
  width:50vw;
  margin-left:20px;
  font-weight:100;
  font-family: 'Advent Pro', sans-serif;
}
.details-form{
  display:flex;
  flex-directoin:row;
  justify-content:center;
  align-items:flex-start;
 }
.footer{
  height:20vh;
  width:100vw;
  background-color:#424874;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
  color:white;
  font-family: 'Advent Pro', sans-serif;
  letter-spacing:3px;
   background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.form-column{
  margin:0 20px 0 20px;
  padding:10px;
  
}
form{
  border:1px solid white;
  border-radius:10px;
  padding:20px 10px 20px 10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  background-color:seashell;
  box-shadow:0 0 30px 5px lightslategray;
   background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png")
}
#submit-button{
  align-self:flex-end;
  padding:5px 20px 5px 20px;
  border-radius:50px;
  background-color:#424874;
  border:1px solid #424874;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:16px;
}
#submit-button:hover{
  border:1px solid #2e3251;
  background-color:#2e3251;
  cursor:pointer;
  
  color:#CACFD6;
}
input{
  padding:7px 10px 7px 10px;
   border-radius:5px; 
  margin-bottom:20px;
  margin-top:5px;
  width:100%;
  border:2px solid #424874;
  background-color:  white;
  color:black;
}
select{
  padding:5px;
  border-radius:5px;
  margin-bottom:20px;
  margin-top:5px;
  background-color:white;
  color:black;
  border:2px solid #424874;
  width:100%;
}
option{
  padding:5px;
}
.form-column h2{
  margin-bottom:10px;
  font-size:20px;
  font-weight:500;
  color:#424874;
  font-family: 'Advent Pro', sans-serif;
}
select *{
  color:#424874;
  background-color:white;
  font-size:16px;
  padding:5px;
  
}
.sp{
  color:#424874;
}
.best-payment-terms h3{
  margin:20px 0 0 0;
}

.best-payent-terms h4{
  margin:20px 0 0 0;
  font-weight:150;

}
.sector-info p{
  padding:5px;
}
.an{
  color:#424874;
  font-weight:bold;
}
.loading{
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.loading h1{
  text-align:center;
}
@media only screen and (max-width: 768px) {
  .web{
    flex-direction:column;
    height:100%;
  }
  .content{
    width:100%;
    margin:50px;
  }
  form{
   width:95%;
    margin:20px;
padding:20px;
  }
 
  .form-column{
    padding:10px;
    margin:0;
  }
  
  input{
    width:100%;
  }
  .nav-items{
    display:none;
  }
  .row{
    flex-direction:column;
  }
  .row div{
    width:100%;
  }
}